env=$(nix build p#python.inject.ipython.tkinter.matplotlib.sympy.pymupdf.jax.oryx.equinox.pint.pandas.colorama.jaxtyping.beartype --no-link --print-out-paths)
PATH_add $env/bin
export LD_LIBRARY_PATH=/usr/lib/wsl/lib:$env/lib

path_add PYTHONPATH $(pwd)
path_add PYTHONPATH "/home/alan/jax_pint/"
